[mysqld]
# 设置字符编码
character-set-server=utf8
collation-server=utf8_general_ci

# 主从时需要ID唯一,推荐使用IP地址
server-id=1270010001

# 二进制日志格式设置
# binlog_format=mixed
# log-bin=/app/mysql/logs/master_bin.log

# 保留日志天数
expire_logs_days=5

# 设置sync的间隔时长,默认值是0,文件系统自动
sync_binlog=0

# 慢查询记录
# long_query_time=1
# slow_query_log=1
# slow_query_log_file=/oracle/mysql/logs/slow_querys.log

# 免密码登录
# skip-grant-tables

# 允许分区管理数据文件,ln -s $targetdir $datadir
# 0:关闭  1:开启
symbolic-links=0

# 关闭TCP/IP连接
# skip-networking

# 优化策略
# max_allowed_packet=16M

# 最大连接数与最大用户连接数
max_connections=1000
max_user_connections=200

# 禁止主机名缓存与DNS查找
# 连接IP必须在授权表中,该配置可加快连接速度
skip-host-cache
skip-name-resolve

# 关闭表名大小写敏感
# 默认表名大小写是敏感的,列不敏感
# 0:敏感,1:不敏感
# lower_case_table_names=1


# confluence
# 使用innodb
default-storage-engine=INNODB
# confluence require 256M
max_allowed_packet=256M
# log size
innodb_log_file_size=2GB
# trans
transaction-isolation=READ-COMMITTED


[mysqld_safe]
user=mysql
group=mysql
bind-address=10.0.2.15
port=6666

datadir=/app/mysql/data

pid-file=/app/mysql/run/mysqld.pid
socket=/app/mysql/run/mysql.sock

# 5.7新的日志配置方式
# general-log=1
# log-output=FILE
# general_log_file=/app/mysql/logs/mysql.log
log=/app/mysql/logs/mysql.log
log-error=/app/mysql/logs/mysql_err.log


